<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @product.manufacturer_id %>
</p>

<p>
  <b>Slug:</b>
  <%= @product.slug %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
